/* CSS Document */
@charset "utf-8";
/**********************
		ESTRUCTURA
***********************\
/*
contenido:
encabezado:
equivalentes:
piepagina:
auxiliar:
*/
#html,body{
	width: 100%;
	background-color: aqua;
}
#h1{
	font-size: 250%;
	text-align: center;
	letter-spacing: 5px;
	line-height: 2em;
}
#wrapper{
  	background-color: antiquewhite;
}
#contenido{
	width: 70%;
	margin: 0 auto;
	font-family: Georgia, "Times New Roman", serif;
}
#encabezdo{
	background: #00867d;
}
#equivalentes{
	background: #4db6ac;
}
#piePagina{
	background: #82e9de;	
}
#auxiliar{
	
}
#divison {
	background: #EFADAE;
	color: aquamarine;
	line-height: normal;
}

/**********************
	  NEUTRALIDAD
**********************/

/**********************
		CLSES
**********************/

/**********************
		ESTILOS
**********************/





